.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.chessboard {
  position: relative;

  padding: 40px;

  background-color: #75211b;
}

.fields {
  display: flex;
  flex-flow: wrap;
  width: 400px;
  height: 400px;
}

.field {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.field-dark {
  background-color: #d77c3c;
}

.field-light {
  background-color: #eecca6;
}

.notation {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  font-family: "Tahoma", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
}

.letters,
.numbers {
  position: absolute;

  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.letters {
  bottom: 10px;

  width: 400px;
}

.numbers {
  top: 40px;
  left: 15px;

  flex-flow: column-reverse;
  height: 400px;
}

.chess-pieces {
  cursor: pointer;
}

.bishop_black {
   background: url("sprite.svg") 0 0 no-repeat;
   width: 45px;
   height: 45px;
 }

.bishop_white {
   background: url("sprite.svg") 9.090909090909092% 0 no-repeat;
   width: 45px;
   height: 45px;
 }

.king_black {
   background: url("sprite.svg") 18.181818181818183% 0 no-repeat;
   width: 45px;
   height: 45px;
 }

.king_white {
   background: url("sprite.svg") 27.272727272727273% 0 no-repeat;
   width: 45px;
   height: 45px;
 }

.knight_black {
   background: url("sprite.svg") 36.36363636363637% 0 no-repeat;
   width: 45px;
   height: 45px;
 }

.knight_white {
   background: url("sprite.svg") 45.45454545454545% 0 no-repeat;
   width: 45px;
   height: 45px;
 }

.pawn_black {
   background: url("sprite.svg") 54.54545454545455% 0 no-repeat;
   width: 45px;
   height: 45px;
 }

.pawn_white {
   background: url("sprite.svg") 63.63636363636363% 0 no-repeat;
   width: 45px;
   height: 45px;
 }

.queen_black {
   background: url("sprite.svg") 72.72727272727273% 0 no-repeat;
   width: 45px;
   height: 45px;
 }

.queen_white {
   background: url("sprite.svg") 81.81818181818181% 0 no-repeat;
   width: 45px;
   height: 45px;
 }

.rook_black {
   background: url("sprite.svg") 90.9090909090909% 0 no-repeat;
   width: 45px;
   height: 45px;
 }

.rook_white {
   background: url("sprite.svg") 100% 0 no-repeat;
   width: 45px;
   height: 45px;
 }
